body{
    margin: 0;
}

header{
    background:#1b2127;
    color: white;
    /* height: 90px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
}

header figure{
    margin: 0;
}

.header a {
    color: white;
    text-decoration: none;
    height: inherit;
}

ol {
    list-style: none;
    margin: 0;
    padding: 0;
    height: inherit;
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Tangerine', cursive;
    font-size: 50px;
    line-height: 1.1em; /*separacion del interlineado*/
    letter-spacing: -.2px;  /*separa o une las letras de un texto*/
    /*text-transform: capitalize;
    text-decoration: underline;*/
    color: white;
    margin: none;
}

.hero{
    background: #1b2127;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

.wrapper img{
    object-fit: cover;
}

.hero img{
    width: 50%;
}

body section h1 strong{
    color: #026fff;
}

h2{
    color: #026fff;
    text-transform: uppercase;
}

.portfolio{
    background:#fafafa;
    margin-top: 10px;
}

.project{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 0 10px;
    margin: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    font-family: 'Roboto', sans-serif; 
}

.project-title{
    font-size: 30px;
    margin: 10px 0;
}

.project-course, 
.project-date, .project-url{
    margin: 5px 0; 
}

.project-details{
    width: 50%;
}

.project-imageContainer{
    width: 50%;
    margin: 0;
    text-align: center;
}

.project-imageContainer img{
    max-width: 100%;
}

.project-description{
    font-size: 20px;
}

section h2{
    margin: 0;
    padding: 15px;
}

body h2{
    margin: 0;
    padding: 15px;
}

.expe{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.experience{
    width: 40%;
    border-radius: 10px;
    overflow: hidden; /*oculta los bordes que se salen de su contenedor*/
    flex-shrink: 0; /*Obliga que los tamaños de alto y ancho permanezcan intactos*/
    background-color: #f4fbff;
    margin: 10px;
}

.experience-imageContainer{
    margin: 0;
}

.experience-imageContainer img{
    margin: 0;
    /* width: 480px; */
    width: 100%;
    height: 200px;
    object-fit: cover; /*mejora la calidad de la imagen haciendo zoom*/
}

.experience-detail{
    margin: 20px;
    margin-top: -45px;
    align-self: center;
    background-color: white;
    text-align: center;
    position: relative; /*Pone el elemento encima de otro (su padre)*/
    padding: 20px;
    z-index: 1;
}

.experience-description{
    text-align: left;
}

.experience-link{
    border: 1px solid #026fff;
    border-radius: 5px;
    padding: 10px 30px;
    color: #026fff;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.form{
    background-color: #026fff;
    height: 150px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap;
}

.form-email input{
    background-image: url(../images/envelope.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 5px 20px 5px 28px;
    background-position-y: center;
    background-position-x: 5px;
    border-radius: 5px;
    border-style: solid;
}

.form-email button{
    display: block;
    background-color: #026fff;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid white;
    padding: 10px 35px;
}   

.form-email-social{
    display: flex;
    align-items: center;
}

.form-link{
    height: 50px;
    width: 50px;
    background-size: 50px 50px;
}

.form-link.linkedin{
    margin-right: 20px;
    background-image: url(../images/linkedin.svg);
}

.form-link.github{
    background-image: url(../images/github.svg)
}

.footer{
    background: #1b2127;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
footer div p a{
    color: white;
}

footer img{
    vertical-align: middle;
}

.wrapper{
    height: inherit;
    margin: 0 auto;
    /* max-width: 80%; */
    /* border: 1px solid red; */
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    flex-wrap: inherit;
    flex: 1;
}

@media screen and (min-width:831px){
    /* .experience-imageContainer .experience-image{
        width: 100%;
    } */

    .wrapper{
        height: inherit;
        margin: 0 auto;
        max-width: 1000px;
        /* border: 1px solid red; */
        display: inherit;
        align-items: inherit;
        justify-content: inherit;
        flex-wrap: inherit;
        flex: 1;
    }

    .header{
        position: sticky;
        top: 0;
        z-index: 2;
    }
}

@media screen and (max-width: 830px){
    .header{
        display: block;
    }

    .header h1{
        text-align: center;
        margin: 0 auto;
    }

    ol{
        display: initial;
    }

    ol li{
        height: 50px;
        text-align: center;
    }

    .project{
        display: block;
    }

    .project-details{
        width: 100%;
    }
    
    .project-imageContainer{
        width: 100%;
    }

    .experience{
        width: 40%;
        flex-shrink: 1;
    }
}

@media screen and (max-width: 480px){
    .hero{
        /* height: 300px; */
        position: relative;
        padding: 6em;
        overflow: hidden;
    }
    
    .hero img{
        position: absolute;
        z-index: 1;
        width: 100%;
        filter: opacity(80%) blur(1px);
        left: 0;
        top: 0;
        bottom: 0;
    }

    .hero h1{
        font-size: 35px;
        position: absolute;
        z-index: 2;
        text-shadow: 1px 2px 2px #000;
        top: 0;
        left: 10%;
        /* left: 20%;
        top: 15%; */
    }

    .project-details{
        font-size: 10px;
    }

    .project-title{
        font-size: 2em;
    }
    .project-course{
        font-size: 1.2em;
    }
    .project-date{
        font-size: 1em;
    }
    .project-url{
        font-size: 1.2em;
    }
    .project-description{
        font-size: 1.5em;
    }

    .expe{
        display: block;
    }

    .experience{
        width: auto;
    }

    .form{
        height: auto;
        display: block;
        border: 1px solid transparent;
        text-align: center;
    }

    .form-email-social{
        width: fit-content;
        margin: 0 auto;
    }

    .form-email > button{
        margin: 10px auto;
    }

    .footer{
        display: block;
        text-align: center;
        padding: 1px;
    }
}